:host {
    height: calc(100% - 4rem); /* 4rem = header height*/
    display: block;
    background-image: linear-gradient(to bottom right, skyblue, rgb(3, 183, 196));
    padding-top: 64px;
}

.update_information_input,
.change_password_input {
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
}
